<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/Home.css" />
    <link href="~/Content/ADM-LTE/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Content/ADM-LTE/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body class="bg-gradient-gray-dark" id="page-top">
    <input type="hidden" id="success" value="@TempData["success"]" />
    <input type="hidden" id="info" value="@TempData["info"]" />
    <input type="hidden" id="warning" value="@TempData["warning"]" />
    <input type="hidden" id="error" value="@TempData["error"]" />
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon">
                    <img style="padding-left:14px" src="~/Content/Imagens/LoyoutHome/logo-removebg-preview.png" width="150" height="150" />
                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <div class="sidebar-heading">
                Gerenciar
            </div>
            <li class="nav-item @ViewBag.Empresa">
                <a class="nav-link @ViewBag.NavEmpresa " href="#" data-toggle="collapse" data-target="#collapseEmpresa" aria-expanded="@ViewBag.AriaEmpresa" aria-controls="collapseUtilities">
                    <i class="fas fa-building"></i>
                    <span>Empresa</span>
                </a>
                <div id="collapseEmpresa" class="collapse @ViewBag.ShowEmpresa" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funções:</h6>
                        <a class="collapse-item @ViewBag.CadastrarEmpresa" href="@Url.Action("Cadastrar","Empresa")">Cadastrar</a>
                        <a class="collapse-item @ViewBag.IndexEmpresa" href="@Url.Action("Index","Empresa")">Informações</a>
                        <a class="collapse-item @ViewBag.EditarEmpresa" href="@Url.Action("Editar","Empresa")">Editar</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" @ViewBag.Cliente>
                <a class="nav-link @ViewBag.NavCliente" href="#" data-toggle="collapse" data-target="#collapseClientes" aria-expanded="@ViewBag.AriaCliente" aria-controls="collapseUtilities">
                    <i class="fas fa-user-plus"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseClientes" class="collapse @ViewBag.ShowCliente" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funções:</h6>
                        <a class="collapse-item @ViewBag.CadastrarCliente" href="@Url.Action("ClienteCadastrar","Usuario")">Cadastrar</a>
                        <a class="collapse-item @ViewBag.IndexCliente" href="@Url.Action("Clientes","Usuario")">Informações</a>
                        <a class="collapse-item @ViewBag.EditarCliente" href="@Url.Action("ClienteEditar","Usuario")">Editar</a>
                    </div>
                </div>
            </li>
            <li class="nav-item" @ViewBag.Funcionario>
                <a class="nav-link @ViewBag.NavFuncionario" href="#" data-toggle="collapse" data-target="#collapseFuncionarios" aria-expanded="@ViewBag.AriaFuncionario" aria-controls="collapseUtilities">
                    <i class="fas fa-id-card"></i>
                    <span>Funcionarios</span>
                </a>
                <div id="collapseFuncionarios" class="collapse @ViewBag.ShowFuncionario" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funções:</h6>
                        <a class="collapse-item @ViewBag.CadastrarFuncionario" href="@Url.Action("FuncionarioCadastrar","Usuario")">Cadastrar</a>
                        <a class="collapse-item @ViewBag.IndexFuncionario" href="@Url.Action("Funcionarios","Usuario")">Informações</a>
                        <a class="collapse-item @ViewBag.EditarFuncionario" href="@Url.Action("FuncionarioEditar","Usuario")">Editar</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider my-0">
            <div class="sidebar-heading">
                Financeiro
            </div>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","FluxoCaixa")">
                    <i class="fas fa-university"></i>
                    <span>Fluxo de Caixa</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmprestimos" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-credit-card"></i>
                    <span>Emprestimos</span>
                </a>
                <div id="collapseEmprestimos" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Funções:</h6>
                        <a class="collapse-item" href="@Url.Action("Cadastrar","Emprestimo")">Cadastrar</a>
                        <a class="collapse-item" href="@Url.Action("Index","Emprestimo")">Informações</a>
                        <a class="collapse-item" href="@Url.Action("Editar","Emprestimo")">Editar</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Procurar por..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- TOP NAVBAR -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- ITEM NAV BAR - ALERTAS -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- ALERTAS - CONTADOR -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- ALERTAS - DROP ALERTAS -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alertas
                                </h6>
                                @*<a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2019</div>
                                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2019</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>*@
                                <a class="dropdown-item text-center small text-gray-500" href="#">Todos os Alertas</a>
                            </div>
                        </li>

                        <!-- ITEM NAV BAR - MENSAGENS -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- MENSAGENS - CONTADOR -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- MENSAGENS - Dropdown -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Mensagens
                                </h6>
                                @*<a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div>
                                            <div class="text-truncate">
                                                Am I a good boy? The reason I ask is because someone
                                                told me that people say this to all dogs, even if they aren't good...
                                            </div>
                                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                        </div>
                                    </a>*@
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- ITEM NAV BAR -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Session["UsuarioLogado"] != null)
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["UsuarioLogado"]</span>
                                }
                                else
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Username</span>

                                }
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("PerfilUsuario","Perfil")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Deslogar","Login")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!-- TOP NAVBAR -->
                </nav>

                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->

    <script src="~/Content/ADM-LTE/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/ADM-LTE/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/JS/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/Content/ADM-LTE/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/ADM-LTE/js/sb-admin-2.min.js"></script>
    <script src="~/Content/JS/toast.js"></script>
    <script src="~/Content/JS/Mascaras.js"></script>
    @*Page level plugins
        <script src="~/Content/ADM-LTE/vendor/chart.js/Chart.min.js"></script>

         Page level custom scripts
        <script src="~/Content/ADM-LTE/js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>*@
</body>
</html>