@model NIRAC_BUSINESS.Models.DAO.EmpresaDAO
@{
    ViewBag.Title = "Editar Empresa";
    ViewBag.Empresa = "active";
    ViewBag.EditarEmpresa = "active";
    ViewBag.AriaEmpresa = "false";
    ViewBag.ShowEmpresa = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="TitlePage">Editar Empresa</h3>
@if (Model != null)
{
    using (Html.BeginForm("Editar", "Empresa", FormMethod.Post))
    {
        <div class="form-row">
            <div class="col">
                <label for="Nome" class="form-label">Nome</label>
                <input type="text" value="@Model.Nome" class="form-control" id="Nome" name="EmpresaDAO.Nome" placeholder="Nome" required>
            </div>
            <div class="col">
                <label for="DinheiroCaixa" class="form-label">Capital Inicial</label>
                <input class="dinheiro form-control" value="@Model.DinheiroCaixa" id="DinheiroCaixa" name="EmpresaDAO.DinheiroCaixa" placeholder="Capital Inicial" required>
            </div>
        </div><div class="form-row">
            <div class="col">
                <label for="pais">Pais</label>
                <select class="form-control" id="pais" onchange="UpdateEstado()" name="pais">
                    @if (ViewData["pais"] != null)
                    {
                        <option value="0" selected>@Convert.ToString(ViewData["pais"])</option>
                    }
                    else
                    {
                        if (ViewBag.ListaPaises != null)
                        {
                            foreach (var pais in ViewBag.ListaPaises)
                            {
                                <option value="0" selected>Selecione um pais</option>
                                <option value="@pais.Id">@pais.Nome</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado" onchange="UpdateCidades()" name="estado">
                    @if (ViewData["estado"] != null)
                    {
                        <option value="0" selected>@Convert.ToString(ViewData["estado"])</option>
                    }
                    else
                    {
                        <option value="0">Selecione um estado</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="cidade">Cidade</label>
                <select class="form-control" id="cidade" name="cidade">
                    @if (ViewData["cidade"] != null)
                    {
                        <option value="0" selected>@Convert.ToString(ViewData["cidade"])</option>
                    }
                    else
                    {
                        <option value="0">Selecione uma cidade</option>
                    }
                </select>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary btn-user my-3">
                Editar
            </button>
        </div>

    }
}
else
{
    <h2 class="TitlePage">Nenhuma empresa cadastrada!</h2>
}
<script type="text/javascript">
    function UpdateEstado(){
        var pais = document.getElementById("pais");
        if (pais !== "") {
            $.post("@Url.Action("ListarEstados", "Empresa")?id=" + pais.value, function(res) {
                if (res.Success === "true") {
                    var estado = document.getElementById("estado");
                    for (let i = 0; i < res.EstadoDTOs.length; i++) {
                        $.each(res.EstadoDTOs, function (i, d) {
                            $('<option>').val(d.Id).text(d.Nome).appendTo(estado);
                        });
                    }
                }
                else {
                        alert("Error getting data!");
                    }
                });
            } else {
                alert("Error getting data!");
            }
    };
    function UpdateCidades(){
        var pais = document.getElementById("pais");
        if (pais !== "") {
            $.post("@Url.Action("ListarCidades", "Empresa")?id=" + pais.value, function(res) {
                if (res.Success === "true") {
                    var cidade = document.getElementById("cidade");
                    for (let i = 0; i < res.CidadeDTOs.length; i++) {
                        $.each(res.CidadeDTOs, function (i, d) {
                            $('<option>').val(d.Id).text(d.Nome).appendTo(cidade);
                        });
                    }
                }
                else {
                        alert("Error getting data!");
                    }
                });
            } else {
                alert("Error getting data!");
            }
    };
</script>