@model NIRAC_BUSINESS.Models.DAO.EmpresaDAO
@{
    ViewBag.Title = "Informações da Empresa";
    ViewBag.Empresa = "active";
    ViewBag.IndexEmpresa = "active";
    ViewBag.AriaEmpresa = "false";
    ViewBag.ShowEmpresa = "show";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h3 class="TitlePage">Informações da Empresa</h3>
@if (Model != null)
{
    <div class="form-row">
        <div class="col">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text"
                   value="@Model.Nome"
                   class="form-control"
                   id="Nome"
                   style="color:black"
                   name="EmpresaDAO.Nome"
                   placeholder="Nome"
                   disabled>
        </div>
        <div class="col">
            <label for="DinheiroCaixa" class="form-label">Capital Inicial</label>
            <input class="dinheiro form-control"
                   value="@Model.DinheiroCaixa"
                   id="DinheiroCaixa"
                   style="color:black"
                   name="EmpresaDAO.DinheiroCaixa"
                   placeholder="Capital Inicial"
                   disabled>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="pais">Pais</label>
            <select class="form-control"
                    id="pais"
                    name="pais"
                    disabled>
                @if (ViewData["pais"] != null)
                {
                <option value="0" selected>@Convert.ToString(ViewData["pais"])</option>
                }
                else
                {
                    <option value="0">Nenhum pais selecionado</option>
                }
            </select>
        </div>
        <div class="col">
            <label for="estado">Estado</label>
            <select class="form-control"
                    id="estado"
                    name="estado"
                    disabled>
                @if (ViewData["estado"] != null)
                {
                    <option value="0" selected>@Convert.ToString(ViewData["estado"])</option>
                }
                else
                {
                    <option value="0">Nenhum estado selecionado</option>
                }
            </select>
        </div>
        <div class="col">
            <label for="cidade">Cidade</label>
            <select class="form-control"
                    id="cidade"
                    name="cidade"
                    disabled>
                @if (ViewData["cidade"] != null)
                {
                    <option value="0" selected>@Convert.ToString(ViewData["cidade"])</option>
                }
                else
                {
                    <option value="0">Nenhum cidade selecionado</option>
                }



            </select>
        </div>
    </div>
}
else
{
    <h2 class="TitlePage">Nenhuma empresa cadastrada!</h2>
}
